---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard';

const projects = [
  {
    title: 'Project 1',
    description: 'A brief description of Project 1',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project1',
  },
  {
    title: 'Project 2',
    description: 'A brief description of Project 2',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project2',
  },
  {
    title: 'Project 3',
    description: 'A brief description of Project 3',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project3',
  },
  {
    title: 'Project 4',
    description: 'A brief description of Project 4',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project4',
  },
  {
    title: 'Project 5',
    description: 'A brief description of Project 5',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project5',
  },
  {
    title: 'Project 6',
    description: 'A brief description of Project 6',
    image: 'https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg',
    link: '/projects/project6',
  },
];
---

<Layout title="DevSumangal - Projects">
  <section class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-12">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
        My Projects
      </h1>
      <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
        Here's a collection of my recent work. Each project showcases different skills and technologies.
      </p>
    </div>
  </section>

  <section class="container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16">
    <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {projects.map((project) => (
        <ProjectCard 
          title={project.title}
          description={project.description}
          image={project.image}
          link={project.link}
          class="hover:scale-105 transition-transform duration-300 ease-in-out"
        />
      ))}
    </div>
  </section>
</Layout>
